.toDoBox{
    border: 3px solid #313131;
    display : block;
    margin : 10px 0 0 0;
    padding : 10px;
}

p{
    font-family: "Prompt";
    font-size: 20px;
    display : inline-block;
    text-align: left;
    width : 60%
}

.inputBox{
    display : inline-block;
    width: 10%;
    align-items: normal;
    box-sizing: 20px;

    /* position: absolute; */

    height: 25px;
    background-color: #eee;
}

input:checked ~ .inputBox {
    background-color: #00ff2f;
}

.iconBox{
    display: inline-block;
    align-items: left;
    width : 20%; 
}

.FontAwesome{
    margin-right: 10px;
    height: 20px;
}